.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: space-around;
}


.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  margin: 10px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}
.left-links{
align-self: center;
justify-content: center;
flex: 4;
margin-left: 10px;

}
.right-links{
align-self: center;
justify-content: center;
flex: 4;
margin-right: 10px;
}
.right-links-content {
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
}
.left-links-content {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
}